.sidebar {
	border: 1px solid rgb(236, 236, 236);
	border-radius: 14px;
	padding: 1em;
	flex: 0 0 30vw;
	min-width: 300px;
	height: min-content;
	box-shadow:  0 0 25px -15px lightsteelblue;

}

.inputField {
	display: flex;
	justify-content: space-between;
}