.editorContainer {
	flex: 2 1 60vw;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid rgb(229, 232, 236);
	border-radius: 14px;
	box-shadow:  0 0 25px -15px lightsteelblue;
}

.editor {
	padding: 30px;
	height: fit-content;
	border-radius: 6px;
	background-color: white;
	& svg {
		width: 100%
	}
	
}